<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.stimulate.dao.PlanDao">

	<select id="getList" resultType="com.example.stimulate.entity.Plan" useCache="false">
		select
		`course_id`,`name`,`e_name`,`description`,`course_type_id`,`grade`,`org_id`,`org_type`,`user_id`,`pic_url`,`target`,`term`,`book`,`satisfaction`,`major_id`,`create_user`,`create_time`,`update_user`,`update_time`,`sort`,`is_del`,`is_used`,`is_show`,`remark`,`course_recommend`
		from stu_course
		<where>
			<if test="courseId != null and courseId != ''">and course_id = #{courseId}</if>
			<if test="name != null and name != ''">and name = #{name}</if>
			<if test="eName != null and eName != ''">and e_name = #{eName}</if>
			<if test="description != null and description != ''">and description = #{description}</if>
			<if test="courseTypeId != null and courseTypeId != ''">and course_type_id = #{courseTypeId}</if>
			<if test="grade != null and grade != ''">and grade = #{grade}</if>
			<if test="orgId != null and orgId != ''">and org_id = #{orgId}</if>
			<if test="orgType != null and orgType != ''">and org_type = #{orgType}</if>
			<if test="userId != null and userId != ''">and user_id = #{userId}</if>
			<if test="picUrl != null and picUrl != ''">and pic_url = #{picUrl}</if>
			<if test="target != null and target != ''">and target = #{target}</if>
			<if test="term != null and term != ''">and term = #{term}</if>
			<if test="book != null and book != ''">and book = #{book}</if>
			<if test="satisfaction != null and satisfaction != ''">and satisfaction = #{satisfaction}</if>
			<if test="majorId != null and majorId != ''">and major_id = #{majorId}</if>
			<if test="createUser != null and createUser != ''">and create_user = #{createUser}</if>
			<if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
			<if test="updateUser != null and updateUser != ''">and update_user = #{updateUser}</if>
			<if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
			<if test="sort != null and sort != ''">and sort = #{sort}</if>
			<if test="isDel != null and isDel != ''">and is_del = #{isDel}</if>
			<if test="isUsed != null and isUsed != ''">and is_used = #{isUsed}</if>
			<if test="isShow != null and isShow != ''">and is_show = #{isShow}</if>
			<if test="remark != null and remark != ''">and remark = #{remark}</if>
			<if test="courseRecommend !=null">and course_recommend =#{courseRecommend}</if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by course_id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int" useCache="false">
		select count(*) from stu_course where is_del = 0
		<where>
			<if test="courseId != null and courseId != ''">and course_id = #{courseId}</if>
			<if test="name != null and name != ''">and name = #{name}</if>
			<if test="eName != null and eName != ''">and e_name = #{eName}</if>
			<if test="description != null and description != ''">and description = #{description}</if>
			<if test="courseTypeId != null and courseTypeId != ''">and course_type_id = #{courseTypeId}</if>
			<if test="grade != null and grade != ''">and grade = #{grade}</if>
			<if test="orgId != null and orgId != ''">and org_id = #{orgId}</if>
			<if test="orgType != null and orgType != ''">and org_type = #{orgType}</if>
			<if test="userId != null and userId != ''">and user_id = #{userId}</if>
			<if test="picUrl != null and picUrl != ''">and pic_url = #{picUrl}</if>
			<if test="target != null and target != ''">and target = #{target}</if>
			<if test="term != null and term != ''">and term = #{term}</if>
			<if test="book != null and book != ''">and book = #{book}</if>
			<if test="satisfaction != null and satisfaction != ''">and satisfaction = #{satisfaction}</if>
			<if test="majorId != null and majorId != ''">and major_id = #{majorId}</if>
			<if test="createUser != null and createUser != ''">and create_user = #{createUser}</if>
			<if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
			<if test="updateUser != null and updateUser != ''">and update_user = #{updateUser}</if>
			<if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
			<if test="sort != null and sort != ''">and sort = #{sort}</if>
			<if test="isDel != null and isDel != ''">and is_del = #{isDel}</if>
			<if test="isUsed != null and isUsed != ''">and is_used = #{isUsed}</if>
			<if test="isShow != null and isShow != ''">and is_show = #{isShow}</if>
			<if test="remark != null and remark != ''">and remark = #{remark}</if>
			<if test="courseRecommend !=null">and course_recommend =#{courseRecommend}</if>
		</where>
	</select>


	<insert id="save" parameterType="com.example.stimulate.entity.Plan">

	</insert>

	<update id="update" parameterType="com.example.stimulate.entity.Plan">

	</update>

	<delete id="deleteById">

	</delete>

	<select id="getPlanById" resultType="com.example.stimulate.entity.Plan">

	</select>

</mapper>